.DS_Store
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
config.py
craft
world
env
server_log.txt
log.txt
*.o
*.db
*.db-journal
*.exe
*.dll
*.pyc
.*.swp
.*.swo
libworld.so
libworld.dylib
*.spv
*~
callgrind.out*
